In [1]:
# Import Dependencies
import pandas as pd

In [3]:
# Create a path to the csv and read it into a Pandas DataFrame
csv_path = "ted_talks.csv"
ted_df = pd.read_csv(csv_path)

ted_df.head()

,comments,description,duration,event,languages,main_speaker,name,title,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869

In [13]:
# Figure out the minimum and maximum views for a TED Talk
print(ted_df["views"].max())
print(ted_df["views"].min())
ted_df.describe()

47227110
50443

          comments     duration    languages         views
count  2550.000000  2550.000000  2550.000000  2.550000e+03
mean    191.562353   826.510196    27.326275  1.698297e+06
std     282.315223   374.009138     9.563452  2.498479e+06
min       2.000000   135.000000     0.000000  5.044300e+04
25%      63.000000   577.000000    23.000000  7.557928e+05
50%     118.000000   848.000000    28.000000  1.124524e+06
75%     221.750000  1046.750000    33.000000  1.700760e+06
max    6404.000000  5256.000000    72.000000  4.722711e+07

In [ ]:
# Create bins in which to place values based upon TED Talk views
pd.cut(df["views"], bins, labels=group_names)
# Create labels for these bins

In [ ]:
# Slice the data and place it into bins

In [ ]:
# Place the data series into a new column inside of the DataFrame

In [ ]:
# Create a GroupBy object based upon "View Group"


# Find how many rows fall into each bin


# Get the average of each column within the GroupBy object